.message-send-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.message-send-black-box {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0);
    margin-bottom: 250px;
    margin-left: 20px;
    margin-top: 200px;
}

.message-delete-btn {
    width: 15px;
    height: 30px;
}

.message-send-title {
    margin-left: 190px;
}

.message-send-list-box {
    height: 445px;
    overflow-y: auto; /* 세로 스크롤이 생기도록 설정 */
    background-color: rgba(255, 255, 255, 0.2);
}

.send-table {
    width: 100%;
    border-collapse: collapse;
}

.title-section {
    width: 200px;
}

.send-table th,
.send-table td {
    border: 1px solid #7c7c7c;
    padding: 10px;
}

.send-table th {
    background-color: #f2f2f2;
}

.send-table tbody tr:hover {
    background-color: #f9f9f9;
}

.message-send-pagination-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 40px;
}

.message-send-pagination-container button {
    padding: 8px 16px;
    border-radius: 3px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-sender-detail {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.2);
}

.send-table input[type="checkbox"] {
    display: flex ;
    align-items: center;
}