.message-write-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.message-write-black-box {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.0);
    margin-bottom: 250px;
    margin-left: 90px;
    margin-top: 200px;
}

.message-write-title {
    margin-left: 140px;
}

.message-submit-nickname {
    width: 300px;
    height: 30px;
    margin-right: 10px;
    border-radius: 3px;
}

.search-nickname-button {
    width: 100px;
    height: 46px;
    border: none;
    border-radius: 3px;
    background-color: #ffb0b0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.message-submit-title {
    width: 410px;
    height: 30px;
}

.message-submit-content {
    width: 410px;
    height: 300px;
}

.message-submit-btn {
    width: 430px;
    height: 48px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #ffb0b0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.search-nickname-button:hover,
.message-submit-btn:hover {
    background-color: #000000;
}

input {
    outline: none; /* 포커스 효과 제거 */
}

input:hover {
    border-color: #8a2be2; /* 핑크색 테두리 색상 적용 */
    border-width: 2px; /* 테두리 선 굵기 조정 */
    box-shadow: 0 0 5px rgba(72, 209, 204, 0.8);
}