.board-container {
    width: 790px;
    height: 650px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto; /* 세로 스크롤이 필요한 경우 스크롤 표시 */
}

.board-header {
    background-color: #f0f0f0;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.board-content {
    margin-left: -40px;
}

.post-item {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    transition: background-color 0.3s ease;
    list-style-type: none; /* 리스트 점 숨김 */
}

.post-item:hover {
    background-color: #f9f9f9;
}

.post-date {
    font-size: 12px;
    color: #999;
    margin-bottom: 5px; /* 날짜와 제목 사이 간격 조정 */
}

.post-info {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
}

.post-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.post-content {
    margin-bottom: 10px; /* 본문과 날짜 사이 간격 조정 */
    color: #666; /* 얇은 글씨 색상 */
}