.create-resolution-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: radial-gradient(circle, #243b55, #141e30, #000000) no-repeat center center;
    background-size: 200% 200%;
    animation: gradientAnimation 10s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-moon {
    position: absolute;
    top: 19%;
    left: 33%;
    font-size: 130px;
    color: rgba(255,255,255,0.8);
    animation: moon-rotation 4s infinite linear;
}

.blur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

@keyframes moon-rotation {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }
}

.create-resolution-container {
    max-width: 350px;
    width: 100%;
    height: 550px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* 투명도 조정 */
    padding: 30px;
    text-align: center;
    position: relative;
    z-index: 0; /* 로그인 버튼 위에 보이도록 */
    margin-left: 30px;
}

.create-resolution-title {
    width: 305px;
    border-radius: 2px;
    margin-bottom: 15px;
    border: 1px solid #989898;
}

.create-resolution-description {
    height: 200px;
    width: 315px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    outline: none;
    border: 1px solid #989898;
}

.create-resolution-description:hover {
    border-color: #8a2be2; /* 핑크색 테두리 색상 적용 */
    border-width: 2px; /* 테두리 선 굵기 조정 */
    outline: none; /* 포커스 효과 제거 */
    box-shadow: 0 0 5px rgba(72, 209, 204, 0.8)
}

.create-resolution-category {
    width: 305px;
    height: 45px;
    border-radius: 2px;
    border: 1px solid #989898;
    margin-bottom: 15px;
}

.create-resolution-btn {
    width: 320px;
    height: 45px;
    border-radius: 2px;
}