.mainpage-resolution-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: radial-gradient(circle, #243b55, #141e30, #000000) no-repeat center center;
    background-size: 200% 200%;
    animation: gradientAnimation 10s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-moon {
    position: absolute;
    top: 19%;
    left: 33%;
    font-size: 130px;
    color: rgba(255,255,255,0.8);
    animation: moon-rotation 4s infinite linear;
    z-index: -1;
}

.blur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

@keyframes moon-rotation {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-20deg);
    }
}

.mainpage-resolution-container {
    width: 800px;
    height: 950px;
    margin-top: 150px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.main-resol-title-box {
    width: 900px;
    height: 50px;
    display: flex;
}

.main-resol-title {
    margin-left: 30px;
}

.main-resol-userId {
    font-weight: bold;
    font-size: 20px;
    margin-left: 480px;
}

.mainpage-resolution-description-box {
    width: 750px;
    height: 100px;
    display: flex;
    margin-left: 25px;
    margin-top: 20px;
    font-weight: bold;
}

.progress-container {
    width: 750px;
    margin-left: 20px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.progress-bar {
    height: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
    transition: width 0.5s ease;
    border-radius: 5px;
}

.mainpage-resolution-daily-status-box {
    width: 750px;
    height: 100px;
    margin: 20px 20px 0 30px;
    display: flex;
}

.mainpage-resolution-d-day-box {
    width: 750px;
    height: 20px;
    display: flex;
    margin: 10px 50px 0 10px;
}

.mainpage-resolution-like-check {
    padding-right: 510px;
    margin-top: 25px;
}

.mainpage-resolution-daily-status {
    font-weight: bold;
    font-size: 20px;
}

.resol-feedback-button {
    width: 200px;
    height: 50px;
    border-radius: 2px;
}

.mainpage-resolution-daily-check {
    border: 1px solid black;
    width: 100%;
    height: 500px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}