.myinfo-resolution-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 20px;
}

.myinfo-resolution-list-black-box {
    width: 600px;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.0);
}

.myinfo-resolution-list-title {
    margin-left: 210px;
}

.resolution-list-container {
    margin: 0 0 0 0;
}

.my-resolution-list-table-container {
    height: 445px; /* 테이블 최대 높이 지정 */
    overflow-y: auto; /* 세로 스크롤이 생기도록 설정 */
    background-color: rgba(255, 255, 255, 0.2);
}

.resolution-table {
    width: 100%;
    border-collapse: collapse;
}

.resolution-table th,
.resolution-table td {
    border: 1px solid #7c7c7c;
    padding: 8px;
    text-align: left;
}

.resolution-table th {
    background-color: #f2f2f2;
}

.resolution-table tbody tr:hover {
    background-color: #f9f9f9;
}

.my-resolution-pagination-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    width: 560px;
    height: 40px;
}

.my-resolution-pagination-container button {

}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}