.outer-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #d5f4e6, #e6ccff, #ffb3e6);
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.inner-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* 투명도 조정 */
    border-radius: 10px;
}

.agreement-container {
    margin-bottom: 20px;
}

.checkbox-wrapper {
    margin-top: 20px;
}

.text-main-title {
    margin: auto;
    padding-left: 65px;
}

.main-box {
    width: 600px; /* 가로 너비를 조정 */
    margin: auto; /* 가운데 정렬 */
    background-color: #eeeeee;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 300px;
}

/* 내부 요소에 패딩 적용 */
.main-box > * {
    padding: 10px 50px 30px 30px;
}

.small-box {
    padding: 5px;
    margin-left: 40px;
    background-color: rgba(247, 175, 175, 0.6);
    border-radius: 5px;
    width: 80%;
}

.text-table-title {
    display: block;
    margin-left: 30px;
}

.info-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.info-row {
    display: table-row;
}

.info-cell {
    display: table-cell;
    padding: 8px;
    border: 2px solid #e2e5ef;
    text-align: center;
}

input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper {
    margin-left: 200px;
    margin-bottom: 20px;
}

.checkmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ffffff; /* 초기 색상: 흰색 */
    border-radius: 3px;
    cursor: pointer;
    transform: translateY(5px); /* 텍스트를 위로 이동 */
    margin-right: 10px;
}

.checkmark:hover {
    background-color: #f7afaf; /* 체크 전 호버 시 색상: 연보라색 */
}

.checkmark:checked {
    background-color: #ffffff; /* 체크 후 색상: 연보라색 */
    animation: shimmerEffect 2s ease-in-out infinite; /* 반짝이는 애니메이션 적용 */
}

@keyframes shimmerEffect {
    0% {
        background-color: #ffffff; /* 시작 색상: 연보라색 */
    }
    50% {
        background-color: #f7afaf; /* 중간 색상: 연하늘색 */
    }
    100% {
        background-color: #000000; /* 종료 색상: 연보라색 */
    }
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #000000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkmark:checked:after {
    display: block; /* 체크 후에만 표시 */
}

input[type="checkbox"]:checked + .checkmark:after {
    display: block;
}

.agreement-container {
    padding: 20px;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f7afaf;
    color: #fff;
    cursor: pointer;
    width: 300px;
}

button:hover {
    background-color: #000000;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}